doctype html
html
    head
        title= ""
        meta(charset="utf-8")
        link(rel='stylesheet',href="assets/css/base.css")
        link(rel='stylesheet',href="assets/css/index.css")
    body
        #content

        include ./common.jade