doctype html
html
    head
        title= ""
        meta(charset="utf-8")
        link(rel='stylesheet',href="assets/css/base.css")
        link(rel='stylesheet',href="assets/css/index.css")
    body
        #content
            .top
                a.logo(href="http://moon.xoyobox.com/",target="_blank")
                mixin T_l(name,href)
                    li
                        a(href=href,target="_blank")=name
                ul
                    +T_l("巴哈姆特","")
                    +T_l("遊戲基地","")
                    +T_l("2000fun","")
                    +T_l("粉絲團","")
            .con
                .left_bar
                    .step_title
                    .step_box
                        .step_input
                            .step_a1(style="display:none")
                                h1 請問你使用什麼類型帳號玩《月影傳說》？
                                .user_box
                                    .login_box

                                        p 我之前一直使用遊戲帳號玩：
                                        ul
                                            li.reg.act_reg
                                            li.log.act_log
                                    .thrid_box
                                        p 我之前一直使用Facebook帳號玩：
                                        a(href="javascript:void(0);",title="Facebook",onclick="_isFacebookLogin=true;_showServerChoose();return window.xoyoboxHeader.thirdPartyLogin('facebook','4K3LDE2Tf/p1lzzKj5zGx85qX4c=',$(this),'redirect_yjm1');")
                                h3 重要提醒＊
                                ul
                                    li －　由於遊戲內容有所變更，必須進行轉移才能繼續進行遊戲，並使用各種會員服務。
                                    li －　分享月影傳說帳號密碼，等同共同擁有帳號持有權，系統以先轉移帳號者作為依歸。
                                    li －　如因分享帳號密碼導致任何帳號在進行轉移時引起持有糾紛，玩家需報警求助，西山居無法判定誰是最先持有者。

                            .step_a2(style="display:none")
                               table.user_table.register_form_ui(border="0",width="425",align="center",cellspacing="0",cellpadding="0")
                                    tr
                                        td.name
                                        td 請註冊新的xoyobox賬號
                                        td
                                    tr
                                        td.name xoyobox賬號：
                                        td
                                            input.text(type="text",name="account", size=35)
                                        td
                                    tr
                                        td.name 密碼：
                                        td
                                            input.text(type="password",name="password", size=35)
                                        td
                                    tr
                                        td.name 再次輸入密碼：
                                        td
                                           input.text(type="password",name="repeat", size=35)
                                        td
                                    tr
                                        td.name 選擇所在地區：
                                        td
                                            select(name="areaId")
                                                option(value="1",selected) 香港
                                                option(value="2") 马来西亚
                                                option(value="3") 台湾

                                        td
                                    tr
                                        td.name 請輸入驗證碼：
                                        td
                                           input.text(type="text",name="captcha", size=15)
                                           img#registCodeImg(width="90",height="25",src="https://hk.xoyobox.com/resources/images/captcha.php?form_id=regist")
                                        td
                                            a(href="javascript:$('#registCodeImg').attr('src','https://hk.xoyobox.com/resources/images/captcha.php?form_id=regist&t=1411699342&tt='+(new Date()).getTime());") 看不清，換一下
                                    tr
                                        td.name
                                        td(colspan=2)
                                            input(type="checkbox",name='agreement',checked='checked')
                                            | 同意
                                            a(style='text-decoration: underline;', target='_blank', href='https://hk.xoyobox.com/terms-of-service.html') 服務條款
                                            | 及
                                            a(href='https://hk.xoyobox.com/privacy.html', style='text-decoration: underline;', target='_blank') 隱私條款
                                            | &nbsp;&nbsp;&nbsp;&nbsp;
                                            input(type="checkbox", name='subscribe',checked='checked')
                                            | 免費接收禮物及資訊
                                    tr
                                        td.name
                                        td(colspan=2)
                                            button.reg_btn.submit_btn
                                            button.esc_btn

                            .step_a3(style="display:none")
                                table.user_table.login_form_ui(border="0",width="425",align="center",cellspacing="0",cellpadding="0")
                                    tr
                                        td.name
                                        td 請登入xoyobox賬號
                                        td
                                    tr
                                        td.name xoyobox賬號：
                                        td
                                            input.text.account(type="text", size=35)
                                        td
                                    tr
                                        td.name 密碼：
                                        td
                                            input.text.password(type="password", size=35)
                                        td

                                    tr.login_captcha(style="display:none")
                                        td.name 請輸入驗證碼：
                                        td
                                            input.text.captcha(type="text", size=15)
                                            span.login_captcha_img
                                                img(width="90",height="25")
                                        td
                                            a(href="javascript:$('.login_captcha_img img').attr('src','https://hk.xoyobox.com/resources/images/captcha.php?form_id=login&t=1411699342&tt='+(new Date()).getTime());")  看不清，換一下

                                    tr
                                        td.name
                                        td(colspan=2)
                                            button.log_btn.submit_btn
                                            button.esc_btn
                            .step_b1(style="display:none")
                                h1 選擇遊戲帳號：
                                p 由於版本更新，每個遊戲帳號只能存在一個世家
                                p 請選擇xoyobox底下的遊戲帳號，閣下於流程三所選擇的世家，將會轉移至此遊戲帳號
                                table.user_table(border="0",width="425",align="center",cellspacing="0",cellpadding="0")
                                    tr

                                        td
                                            select.game_account
                                                option 選擇此遊戲帳號
                                p.desc(style="margin-top:20px;")
                                    | 如沒有遊戲帳號，可直接建立一個可用於登入「月影傳說」的普通遊戲帳號每個XOYOBOX平台帳號最多可創建
                                    em 10個 
                                    | 普通月影傳說遊戲帳號，如綁定社群帳號則沒有限制。
                                a 創建遊戲帳號



                            .step_b2(style="display:none")
                                h1 選擇遊戲帳號：
                                p 由於版本更新，每個遊戲帳號只能存在一個世家
                                p 請選擇xoyobox底下的遊戲帳號，閣下於流程三所選擇的世家，將會轉移至此遊戲帳號
                                table.user_table(border="0",width="425",align="center",cellspacing="0",cellpadding="0")

                                    tr
                                        td.name 遊戲帳號：
                                        td
                                            input.text(type="text", size=35)
                                        td
                                    tr
                                        td.name 密碼：
                                        td
                                            input.text(type="text", size=35)
                                        td
                                    tr
                                        td.name 確認密碼：
                                        td
                                            input.text(type="text", size=35)
                                        td



                                    tr
                                        td.name
                                        td(colspan=2)
                                            button.create_btn
                            .step_c(style="display:none")
                                h1(style="text-align:center") 請輸入你的月影傳說遊戲帳號：
                                table.user_table(border="0",width="425",align="center",cellspacing="0",cellpadding="0")

                                    tr
                                        td.name 遊戲帳號：
                                        td
                                            input.text(type="text", size=35)
                                        td
                                    tr
                                        td.name 遊戲密碼：
                                        td
                                            input.text(type="text", size=35)
                                        td
                                    tr
                                        td.name
                                        td(colspan="2")
                                            input(type="checkbox")
                                            | 我同意授權此帳號交予西山居進行登入程序

                                    tr
                                        td.name
                                        td(colspan=2)
                                            button.sure_btn

                                p.desc * 必須勾選同意才能開始轉移程序
                                p.desc * 將轉移帳號內最後登入的世家及該世家所屬角色
                                p.desc * 系統以先轉移帳號者作為依歸，如因分享帳號密碼導致持有糾紛，玩家需報警求助

                            .step_d(style="display:none")
                                h1 恭喜，閣下此遊戲帳號最後登入的世家及相關角色已經匯入到 此xoyobox帳號內。
                                p 此帳號的世家資料如下：
                                table.show_gameaccount(border="1",width="100%",align="center",cellspacing="0",cellpadding="0")
                                    tr
                                        th 世家名稱
                                        th 轉移狀態
                                    tr
                                        td 一級棒
                                        td.no 未轉移
                                    tr
                                        td 一級棒
                                        td.ed 已轉移
                                p - 尚未轉移的世家仍然保留，但需於2015年3月31日前，到客服中心回報申請額外轉移
                                p - 由於每個遊戲帳號只能擁有一個世家，玩家需要建立等量的遊戲帳號，並回報哪個世家需要轉移到哪個遊戲帳號
                                p - 所有世家必須轉移到相同xoyobox平台帳號底下
                                p - 舊主程式可透過更新升級，玩家亦可選擇下載全新主程式。
                                p - 驗證電郵後，可使用修改密碼及其他會員功能，更可參加會員活動！
                                table.btn_box(border="0",width="420",align="center",cellspacing="0",cellpadding="0")
                                    tr
                                        td(colspan="2")
                                            a.tranfer_btn()
                                        td
                                            a.back_game(href="http://moon.xoyobox.com",target="_blank")
                                    tr
                                        td
                                            a.down_game()
                                        td
                                            a.check_email(href="https://hk.xoyobox.com/member-changeEmail.html",target="_blank")
                                        td
                                            a.custom(href="https://hk.xoyobox.com/kefu.html",target="_blank")


                        .notice_box
                            h3 西山居 繼續給你更好的《月影傳說》
                            p.text_start 西山居」，金山軟件公司遊戲開發部，曾開發一系列《劍俠情緣》作品，包括作為外傳的《月影傳說》。
                            p.text_start 隨著《月影傳說》港澳台合約結束，一切武林故事本來將消散於山河之間，但「西山居」營運團隊貫徹劍俠精神，又怎會輕易放棄各位？
                            p.text_start 所以「西山居」於台港澳地區營運《月影傳說》之餘，更將再次送贈超級厚禮予《月影傳說》所有玩家！為了證明「西山居」對待眾劍俠以良心為本，不惜犧牲營收，全數接收玩家於舊版《月影傳說》所有資料，務求讓各位延續月影劍俠夢！
                            p.text_start 角色轉移事項：
                            ul
                                li －最後登陸的世家，及該世家裡的所有角色和相關資料
                                li －背包及倉庫所有物品資料，包括於舊版以元寶購買的所有商城道具。
                                li －銅板、世家幣，綁定元寶均會轉移，但不包括「元寶」
                                li - 各社交包括好友、師徒、幫會等待
                            p ＊重點＊
                            p 遊戲原設定一個遊戲帳號只能擁有一個世家，早前台版一個帳號多個世家是例外狀況，無法適用於往後新版本玩家轉移後，需於XOYOBOX客服中心登記，由客服代為轉移其餘世家至新建遊戲帳號"
                            h3 注意事項：
                            ul
                                li 1. 如需繼續使用舊角色進行遊戲，必須於此網頁登記轉移，轉移最後期限為2015年3月31日。於此日之後將關閉轉移，並永久刪除未進行轉移的角色。
                                li 2. 角色只能轉移到指定伺服器，屆時將會有新伺服器不接受角色轉移，僅限創新角色。
                                li 3. 轉移不包含元寶，剩餘元寶回收處理方案將比照新幹線方面安排，並非由西山居負責。
                                li 4. 月影傳說遊戲帳號密碼在進行轉移前由新幹線管理，如玩家不慎忘記，需自行聯繫並找回。如玩家因忘記遊戲帳號及密碼而無法進行轉移，西山居將不能提供任何協助。
                                li 5. 分享月影傳說帳號密碼，等同共同擁有帳號持有權，系統以先轉移帳號者作為依歸。如因分享帳號密碼導致任何帳號在進行轉移時引起持有糾紛，玩家需報警求助，西山居無法判定誰是最先持有者。
                                li 1. 如需繼續使用舊角色進行遊戲，必須於此網頁登記轉移，轉移最後期限為2015年3月31日。於此日之後將關閉轉移，並永久刪除未進行轉移的角色。
                                li 6. 西山居保留任何有關修改轉移項目的最終決定權。
                .right_bar
                    a.down_load
                    div
                        a
                            img(width="193",height="108",src="assets/images/ad_1.jpg")
                    div
                        a
                            img(width="193",height="263",src="assets/images/ad_2.jpg")
        include ./common.jade